{% extends 'base.html' %}
{% block main %}
    <section class="main-capture">
        <!-- <img id="videoCapture" class="main-stream" src="" width="100%" height="410px"> -->
        <img id="videoCapture" class="main-stream"  width="90%" height="auto">
        <!-- <img id="photoCaptured" class="main-result" src="" width="auto" > -->
        <img id="photoCaptured" class=""  width="100%"  >
        <!-- <img id="photoCaptured" class="main-result" src="" width="120px" height="250px" > -->
    </section>

    <setion class="main-actions-controles"  >
        <!-- <button id="btnRestart" class="controles-restart hidden"><i class="fas fa-sync"></i></button> -->
        <div class="main-actions-controles-capture">
            <button id="btnNoCapture" class="controles-invalid hidden"><i class="far fa-times-circle"></i></i></button>
            <button id="btnCheckCapture" class="controles-checked hidden"><i class="fas fa-check"></i></button>
        </div>
    </setion>
    <button id="btnCapture" class="main-actions-capture"  ><i class="fas fa-camera"></i></button>
    <button id="btnStart" class="main-actions-init"  >Iniciar</button>

{% endblock %}

